#page-auth {
  display: flex;
  align-items: stretch;
  animation: fade linear 0.2s;
  height: 100vh;
}
#page-auth aside {
  flex: 10;
  background: var(--color-purple);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 80px;
}

#page-auth aside strong {
  font: 700 36px "Poppins", sans-serif;
  line-height: 42px;
  margin-top: 16px;
}
#page-auth aside p {
  font-size: 24px;
  line-height: 32px;
  margin-top: 16px;
  color: var(--color-low-white);
}
#page-auth main {
  flex: 18;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page-auth .main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: stretch;
  text-align: center;
}

#chatbox {
  width: 500px;
  height: 200px;
  overflow: scroll;
  border: solid 1px #c6c6c6;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#name {
  width: 100%;
  border: solid 1px #c6c6c6;
}
