<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
  <link rel="stylesheet" type="text/css" href="../css/chat.css">
  <script src="..//helpers/usersFunctions.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
 
</head>
<body>

  <div class="content">
    <div class="content-users">

      <form class="form-users" action="">
      <input data-testid="nickname-box" class="input-users" autocomplete="off" placeholder="Alterar nickname" required />
      <button data-testid="nickname-button" class="btn-users">Salvar</button>
      </form>

      <ul class="users"></ul>

    </div>
  
    <ul class="messages"></ul>

</div>

  <form class="form-messages" action="">
    <input data-testid="message-box" class="message-input" autocomplete="off" placeholder="Digite uma nova mensagem aqui" required/>
    <button data-testid="send-button" class="btnMessages">Enviar</button>
  </form>

  <script>
    // escuta os eventos do chatServer
    const socket = io();
    let nickname = '';
    const formUsers = document.querySelector('.form-users');
    const inputUsers = document.querySelector('.input-users');

    formUsers.addEventListener('submit', (e) => {
      e.preventDefault();    
      socket.emit('alterNickname', {  newNickname: inputUsers.value });      
      const campoOnline = document.querySelector('#UserOnline');
      campoOnline.innerText = inputUsers.value;
      inputUsers.value = '';
      return false;
    })

    const formMessages = document.querySelector('.form-messages');
    const inputMessage = document.querySelector('.message-input');
    formMessages.addEventListener('submit', (e) => {
      e.preventDefault();
      const campoOnline = document.querySelector('#UserOnline');
      socket.emit('message', { chatMessage: inputMessage.value, nickname: campoOnline.innerText })
      inputMessage.value='';
      return false;
  })

  // listar o histórico
  socket.on('listAllMessages', (arrayMessagens) => {
    return arrayMessagens.map((message) => createMessage(message)); 
  })
  socket.on('message', (message) => createMessage(JSON.parse(message)));
  // recebendo como parâmetro o name e repassando para variavel nickname
  socket.on('saveNickname', (name) => { nickname = name });
  // escutando listAllUsers e criando a lista de usuários
  socket.on('listAllUsers', (users) => {
    createUser(users, socket.id);
  })
  socket.on('connected', ({ nicknameOnline, arrayUsers })=> {
    nickname = nicknameOnline;
    createUser(arrayUsers, socket.id);
  })
  </script>
</body>
</html>