<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>WEBCHAT</title>
      <link rel="stylesheet" href="../css/webChat.css">
  </head>
  <body>
    <h1 id="title">TRYBE MESSENGER</h1>
    <fieldset id="nick">
      <span id="user">Welcome to Trybe WebChat! Your nickname is </span>
      <input id="nickInput" type="text" data-testid="nickname-box" placeholder="Change your nickname">
      <button id="nickBtn" data-testid="nickname-button">Submit</button>
    </fieldset>
    <div id="allContainer">
      <ul id="usersContainer" class="container">Online:</ul>
      <ul id="msgContainer" class="container"></ul>
    </div>
    <fieldset id="msgForm">
      <input id="messageInput" type="text" data-testid="message-box">
      <button id="messageBtn" data-testid="send-button">Send Message</button>
    </fieldset>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/webChat.js"></script>
  </body>
</html>




