* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, 'sans-serif';
  font-size: 13px;
}

.chat-container {
  display: flex;
  gap: 2rem;
  height: 100vh;
}

.user-sidbar {
  box-shadow: 3px 0 9px 1px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  text-align: center;
  width: 30%;
}

.nickname-container {
  list-style: none;
  margin-top: 2rem;
  text-align: center;
}

.nickname-container li {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  gap: 20px;
  justify-content: center;
  padding: 0.5rem;
}

.nickname-container li::after {
  background-color: rgb(9, 158, 71);
  border-radius: 0.5rem;
  color: white;
  content: 'online';
  font-size: 1rem;
  display: block;
  margin: 0;
  padding: 0.2rem;
}


.form-message {
  background: black;
  bottom: 0;
  padding: 3px;
  position: fixed;
  width: 100%;
}

.form-message input {
  border: 0;
  margin-right: 0.5%;
  padding: 10px;
  width: 90%;
}

.form-message button {
  background: rgb(130, 224, 255);
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 9%;
}

.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 70%;
}

.messages li {
  padding: 5px 10px;
}

.messages li:nth-child(odd) {
  background: #eee;
}
