<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO - trybe</title>
    <link rel="stylesheet" href="./chat.css">
  </head>
  <body>
    <section class="login">
      <input id="nickname-box" autocomplete="off" placeholder="Insira seu nickname" data-testid="nickname-box"/>
      <button id="nickname-button" data-testid="nickname-button">Salvar</button>
      <ul class="users"></ul>
    </section>
    <section class="chat">
      <ul id="messages">
        <% messages.forEach((message) => { %>
          <li data-testid="message"><%= message.timeStamp %><%= message.nickname %><%= message.chatMessage %></li>
        <% }) %>
      </ul>
      <form action="">
        <input id="messageInput" autocomplete="off" data-testid="message-box"/>
        <button data-testid="send-button" id="send-button">Enviar</button>
      </form>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src='./chat.js'></script>
  </body>
</html>