<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webchat</title>
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <ul class="messages"></ul>
    <form class="messageInput">
      <input id="nickname" type="text" autocomplete="off" placeholder="Nickname" />
      <input id="msg-text" type="text" autocomplete="off" />
      <button id="send-btn" type="button" onclick="sendMsg()">
        Enviar
      </button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>

      const socket = io();
      
      const sendMsg = () => {
        const inputMsg = document.querySelector('#msg-text');
        const inputNickname = document.querySelector('#nickname');
        socket.emit('message', {
          chatMessage: inputMsg.value,
          nickname: inputNickname.value,
        });
        inputMsg.value = '';
      };

      const createMsg = (msg) => {
        const ul = document.querySelector('.messages');
        const li = document.createElement('li');
        li.innerText = msg;
        ul.appendChild(li);
      };

      socket.on('message', (msg) => createMsg(msg));

    </script>
  </body>
</html>
