<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Chat</title>

    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      if (!localStorage.getItem('users'))
        localStorage.setItem('users', JSON.stringify([]));
    </script>
  </head>
  <body>
    <main>
      <section>
        <div>
          <form action="" id="nickname-form">
            <input type="text" data-testid="nickname-box" id="nickname-box" />
            <button type="submit" data-testid="nickname-button">Salvar</button>
          </form>
        </div>
        <div>
          <h1 id="my-nickname"></h1>
          <ul id="online-users">
            <% sockets.forEach(({ trimId }) => { %>
            <li id="<%= trimId %>" data-testid="online-user"><%= trimId %></li>
            <% }) %>
          </ul>
        </div>
      </section>
      <section>
        <ul id="chat">
          <% messages.forEach(( { message, nickname, timestamp } ) => { %>
            <li data-testid="message"><%= `${timestamp} - ${nickname}: ${message}` %></li>
          <% }) %>
        </ul>
      </section>
    </main>
    <form action="" id="message-form">
      <input
        type="text"
        data-testid="message-box"
        placeholder="Digite uma nova mensagem aqui"
        id="message-box"
      />
      <button type="submit" data-testid="send-button">Enviar</button>
    </form>

    <script>
      const nicknameForm = document.querySelector('#nickname-form');
      const nicknameBox = document.querySelector('#nickname-box');
      const messageForm = document.querySelector('#message-form');
      const messageBox = document.querySelector('#message-box');
      const onlineUsers = document.querySelector('#online-users');
      const myNickname = document.querySelector('#my-nickname');
      const chat = document.querySelector('#chat');

      messageForm.addEventListener('submit', (event) => {
        event.preventDefault();

        const chatMessage = messageBox.value;
        const nickname = myNickname.innerText;

        messageBox.value = '';
        socket.emit('message', { chatMessage, nickname });

        return false;
      });

      nicknameForm.addEventListener('submit', (event) => {
        event.preventDefault();

        const target = myNickname.innerText;
        const newNickname = nicknameBox.value;

        socket.emit('nicknameUpdate', { target, newNickname });
        myNickname.innerText = newNickname;
      });

      socket.on('welcome', (id) => {
        myNickname.innerText = id;
      });

      socket.on('login', (id) => {
        const li = document.createElement('li');

        li.innerText = id;
        li.id = id;
        li.setAttribute('data-testid', 'online-user');
        onlineUsers.appendChild(li);
      });

      socket.on('message', (message) => {
        const li = document.createElement('li');

        li.innerText = message;
        li.setAttribute('data-testid', 'message');
        chat.appendChild(li);
      });

      socket.on('nicknameUpdate', ({ target, newNickname }) => {
        const elementToBeUpdated = document.querySelector(`#${target}`);

        elementToBeUpdated.innerText = newNickname;
        nicknameBox.value = '';
      });
    </script>
  </body>
</html>
