<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chat</title>
    <script src="http://localhost:3001/socket.io/socket.io.js"></script>
</head>

   
<body>
    <h1>Web Chat</h1>
    <div class="guests">
        <ul id="guests"></ul>
    </div>
    <div class="messages">
        <ul id="messages"></ul>
    </div>
    <script>
        const socket = window.io("http://localhost:3001");

        socket.on('notification', (message) => {
            const ulGuest = document.getElementById('guests');
            const ulMessages = document.getElementById('messages');

            if (!ulMessages) return;

            const { nickname, chatMessage } = message;
            const li = document.createElement('li');
            const liMessages = document.createTextNode(chatMessage);

            li.appendChild(liMessages);
            ulMessages.appendChild(li);

        })
    </script>
</body>
</html>