<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Chat</title>

    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  </head>
  <body>
    <main>
      <section>
        <div>
          <form action="" id="nickname-form">
            <input type="text" data-testid="nickname-box" id="nickname-box" />
            <button type="submit" data-testid="nickname-button">Salvar</button>
          </form>
        </div>
        <div>
          <h1 id="my-id"></h1>
          <h1 id="my-nickname"></h1>
          <ul id="online-users">
            <% clients.forEach(({ id, nickname }) => { %>
            <li id="<%= id %>" data-testid="online-user">
              <%= nickname || id %>
            </li>
            <% }) %>
          </ul>
        </div>
      </section>
      <section>
        <ul id="chat">
          <% messages.forEach(( { message, nickname, timestamp } ) => { %>
          <li data-testid="message">
            <%= `${timestamp} - ${nickname}: ${message}` %>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>
    <form action="" id="message-form">
      <input
        type="text"
        data-testid="message-box"
        placeholder="Digite uma nova mensagem aqui"
        id="message-box"
      />
      <button type="submit" data-testid="send-button">Enviar</button>
    </form>

    <script>
      window.onbeforeunload = function(event) { socket.disconnect(); }; 
      const socket = io();

      const nicknameForm = document.querySelector('#nickname-form');
      const messageForm = document.querySelector('#message-form');

      messageForm.addEventListener('submit', (event) => {
        event.preventDefault();

        const nickname = document.querySelector('#my-nickname').innerText;
        const messageBox = document.querySelector('#message-box');
        const chatMessage = messageBox.value;

        messageBox.value = '';
        socket.emit('message', { chatMessage, nickname });

        return false;
      });

      nicknameForm.addEventListener('submit', (event) => {
        event.preventDefault();

        const myNickname = document.querySelector('#my-nickname');
        const nickname = document.querySelector('#nickname-box').value;
        const id = document.querySelector('#my-id').innerText;

        socket.emit('nicknameUpdate', { id, nickname });
        myNickname.innerText = nickname;
      });

      socket.on('welcome', (id) => {
        const myId = document.querySelector('#my-id');

        myId.innerText = id;
      });

      socket.on('login', (id) => {
        const onlineUsers = document.querySelector('#online-users');
        const li = document.createElement('li');

        li.innerText = id;
        li.id = id;
        li.setAttribute('data-testid', 'online-user');
        onlineUsers.appendChild(li);
      });

      socket.on('message', (message) => {
        const chat = document.querySelector('#chat');
        const li = document.createElement('li');

        li.innerText = message;
        li.setAttribute('data-testid', 'message');
        chat.appendChild(li);
      });

      socket.on('nicknameUpdate', ({ id, nickname }) => {
        const elementToBeUpdated = document.querySelector(
          `#${id}`
        );

        console.log(id, '**************')
        const nicknameBox = document.querySelector('#nickname-box');

        elementToBeUpdated.innerText = nickname;
        nicknameBox.value = '';
      });

      socket.on('logout', (id) => {
        const onlineUsers = document.querySelector('#online-users');
        const li = document.querySelector(`#${id}`);

        onlineUsers.removeChild(li);
      });
    </script>
  </body>
</html>
