<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input id="user" data-testid="nickname-box" type="text">
    <button id="save" data-testid="nickname-button">Salvar</button>

    <ul id="users"></ul>
    <ul id="messages"></ul>

    <input id="message" data-testid="message-box" type="text">
    <button id="send" data-testid="send-button">Enviar</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>