<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO trybe</title>
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <section>
      <ul id="ulUser"></ul>
      <input
        id="inputNickname"
        autocomplete="off"
        placeholder="Set your nickname"
        data-testid="nickname-box"
      />
      <button id="btnSave" data-testid="nickname-button">Save</button>
    </section>
    <section>
      <ul id="messages"></ul>
      <form action="">
        <input
         id="messageInput"
         autocomplete="off"
         placeholder="Your text here"
         data-testid="message-box"
        />
        <button data-testid="send-button" id="send-button">Send</button>
      </form>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src='js/chat.js'></script>
  </body>
</html>