<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>t9ers webchat</title>
</head>
<body>
  <h1>t9ers webchat</h1>
  <script src="/socket.io/socket.io.js"></script>
  <script>
			const socket = window.io();
  </script>
  <script>
    socket.emit('message', { chatMessage, nickname })
  </script>
</body>
</html>