<!doctype html>
<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="./css/index.css" type="text/css">
  </head>
  <body>
    <section class="chat-grid">
      <form class="nickname-form">
        <input type="text" name="nick" id="nick" class="nickname-input" placeholder="Digite o seu nickname" data-testid="nickname-box">
        <button class="submit-button" type="submit" data-testid="nickname-button">Salvar</button>
      </form>
      <ul class="users-list">
        <% users.forEach((item) => { %>
          <li data-testid="online-user"><%= item %></li>
        <% }) %>
      </ul>
      <ul class="messages-container">
        <% chat.forEach((item) => { %>
          <li data-testid="message"><%= `${item.timestamp} - ${item.nickname}: ${item.message}` %></li>
        <% }) %>
      </ul>
      <form class="send-message-form">
        <input type="text" name="send" id="send" class="send-message-input" placeholder="Escreva sua mensagem" data-testid="message-box">
        <button class="submit-button" type="submit" data-testid="send-button">Enviar</button>
      </form>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="./js/messages.js"></script>
  </body>
</html>