.up {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.savenick {
  display: flex;
}

.inputName {
  flex-grow: 2;
}

.users {
  border: 1px solid black;
  flex-grow: 2;
}

.right {
  border: 1px solid black;
  width: 100%;
}

.down {
  display: flex;
  width: 100%;
}

.inputMessage {
  flex-grow: 2;
}
