* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

#content {
  display: flex;
}

#content-users {
  flex-basis: calc(30% - 20px);
  margin: 0 10px;
}

#messages {
  flex-basis: calc(70% - 20px);
  margin: 0 10px;
}

#form-messages {
  background: rgb( 44, 196, 143 );
  bottom: 0;
  padding: 1px;
  position: fixed;
  width: 100%;
}

#message-input {
  border: 0;
  margin-right: 0.5%;
  padding: 3px;
  width: 90%;
}

#btnMessages {
  background: rgb( 20, 173, 120 );
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 5px;
  width: 9%;
}

#btnMessages:hover {
  background-color: rgb( 82, 198, 157 );;
}

#form-users {
  background: rgb( 247, 144, 114 );
  padding: 1px;
  width: 100%;
}

#input-users {
  border: 0;
  margin-right: 0.5%;
  padding: 3px;
  width: 66%;
}

#btn-users {
  background: rgb( 117, 111, 109 );
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 5px;
  width: 30%;
}

#btn-users:hover {
  background-color: rgb( 241, 159, 134 );
}

.listMessages {
  padding: 5px 10px;
}

.listMessages:nth-child( odd ) {
  background: #eee;
}