* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --bg-color: #fefefe;
}

body {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

ul , ol {
  list-style-position: inside;
}

form {
  display: flex;
}

.sections {
  display: flex;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

main {
  background-color: #515151;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 20px;
  width: 100%;
}

.message-input-container {
  display: flex;
}

.message-input-container .message-input {
  flex: 1;
  font-size: 1.2rem;
  padding: 20px;
}

.messages-container {
  flex: 1;
  margin-left: 20px;
}

.messages {
  background: white;
  height: 700px;
  list-style: none;
  overflow-y: auto;
  padding: 20px;
}

.users-container {
  background-color: white;
  padding: 20px;
}

.users {
  margin-top: 10px;
}

.nickname-form {
  margin-bottom: 20px;
}

.nickname-form * {
  padding: 15px;
}

.nickname-form *:not( :last-child ) {
  margin-right: 5px;
}
