body {
  align-content: space-around;
  background-color: rgb(232, 252, 232);
  display: flex;
  flex-direction: row;
  margin: 0;
}

ul {
  list-style: none;
  padding-inline-start: 6px;
}

aside {
  background-color: ghostwhite;
  border-right: 1px solid lightgray;
  min-width: 150px;
  padding: 1em 25px;
}

time {
  color: gray;
  font-size: 0.8em;
}

main {
  align-items: flex-end;
  background-color: floralwhite;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  justify-content: flex-end;
  width: 50%;
}

input {
  background-color: white;
  border: none;
  border-radius: 25px;
  height: 1.25em;
  padding: 1em;
}

.send-area {
  align-items: center;
  background-color: lightgray;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 25px;
  width: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
}

.chat > li {
  border-radius: 6px;
}

.chat-input {
  resize: none;
  width: 70%;
}

.send-button {
  background-color: unset;
  border-radius: 50%;
  box-sizing: border-box;
  height: 50px;
  margin: 5px 0;
  padding: 0;
  visibility: visible;
  width: 50px;
}

.new-user {
  align-self: center;
  background-color: rgb(238, 238, 238);
  margin: 1em 0;
  padding: 0.5em 5%;
  text-align: center;
}

.message {
  align-self: flex-start;
  background-color: rgb(209, 243, 209);
  margin-left: 25px;
  margin-top: 1em;
  padding: 0.5em;
}

.message time {
  display: inherit;
}
