* {
  box-sizing: border-box;
}

body {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.chat-grid {
  display: grid;
  gap: 20px;
  grid-template-areas: 
    "area1 area1 area3 area3 area3"
    "area2 area2 area3 area3 area3"
    "area2 area2 area3 area3 area3"
    "area2 area2 area3 area3 area3"
    "area2 area2 area3 area3 area3"
    "area2 area2 area3 area3 area3"
    "area2 area2 area3 area3 area3"
    "area4 area4 area4 area4 area4";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 80vh;
  margin: 100px auto;
  width: 80vw;
}

.nickname-form {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-area: area1;
  grid-template-columns: 1fr 140px;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.users-list {
  border: 2px solid grey;
  border-radius: 20px;
  grid-area: area2;
  padding: 40px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.messages-container {
  border: 2px solid grey;
  border-radius: 20px;
  grid-area: area3;
  margin: 0;
  padding: 40px;
  width: 100%;
  height: 100%;
}

.send-message-form {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-area: area4;
  grid-template-columns: 1fr 140px;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.submit-button {
  border: none;
  border-radius: 40px;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  height: 25px;
  width: 100px;
  margin: 0 20px;
}

.send-message-input, .nickname-input {
  border: 2px solid grey;
  border-radius: 20px;
  padding: 10px;
}

li::marker {
  content: ">>  ";
  font-weight: bold;
  color: grey;
}