main {
  display: flex;
}

.chat {
  width: 60rem;
}

.info {
  background-color: darkgray;
  height: 95vh;
  margin-left: 2%;
  width: 40rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.info form {
  background: black;
  bottom: 0;
  padding: 3px;
  width: 100%;
}

.chat form {
  background: black;
  bottom: 0;
  padding: 3px;
  position: fixed;
  width: 60%;
}

form input {
  border: 0;
  margin-right: 0.5%;
  padding: 10px;
  width: 80%;
}

form button {
  background: rgb(130, 224, 255);
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 19%;
}

.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messages li {
  padding: 5px 10px;
}

.messages li:nth-child( odd ) {
  background: #eee;
}
