<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trybe Chat</title>
</head>
<body>
  <form>
    <label for="nickname-box">Enter your nickname:</label>
    <input type="text" id="nickname-box" data-testid="nickname-box" autocomplete="off">
    <button type="submit" id="nickname-button" data-testid="nickname-button">Enter chatroom</button>
  </form>
  <div>
    <h2>Online Users</h2>
    <ul id="users-list"></ul>
  </div>
  <div>
    <ul id="message-list">
      <% messages.forEach(({ message, nickname, timestamp }) => { %>
        <li data-testid="message"><%= `${timestamp} - ${nickname}: ${message}` %></li>
      <% }); %>
    </ul>
  </div>
  <form>
    <input type="text" placeholder="Type your message..." id="message-box" data-testid="message-box" autocomplete="off">
    <button type="submit" id="send-button" data-testid="send-button">Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="./scripts/chat.js"></script>
</body>
</html>