html , body {
  background: rgba(207, 18, 75, 0.411);
  background-image: url("chat.png");
  background-size: cover;
  height: 100%;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 */

#chat {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
}

input {
  border: 1px solid #ddd;
  font-size: 14px;
  height: 50px;
  padding: 0 20px;
  width: 72%;
}

#input-nick {
  border: 1px solid #ddd;
  font-size: 14px;
  height: 50px;
  width: 70%;

}

button {
  background: #069;
  color: white;
  font-size: 14px;
  font-weight: 2;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 25%;
}

.divmessages {
  background: rgba(100, 132, 238, 0.781);
  border: 1px solid #ddd;
  font-weight: 900;
  height: 400px;
  margin: 10px 0;
  overflow-y: auto;
  padding: 20px;
  width: 60%;
}

.nick {
  background: rgba(100, 132, 238, 0.781);
  border: 1px solid #ddd;
  font-weight: 900;
  height: 300px;
  margin: 20px 0;
  overflow-y: auto;
  padding: 20px;
  width: 35%;
}

.horizon {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.botom-itens {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 72%;
}

.top-itens {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1px;
  margin-left: 10%;
  width: 70%;
}