body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding-bottom: 3rem; }

.form {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.15);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 3rem;
  left: 0;
  padding: 0.25rem;
  position: fixed;
  right: 0; }

.input-chat {
  border: none;
  border-radius: 2rem;
  flex-grow: 1;
  margin: 0.25rem;
  padding: 0 1rem; }

.input-chat:focus { outline: none; }

.form > button {
  background: rgb(165, 153, 153);
  border: none;
  border-radius: 3px;
  color: white;
  margin: 0.25rem;
  outline: none;
  padding: 0 1rem; }

.messages {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.messages > li { padding: 0.5rem 1rem; }

.messages > li:nth-child( odd ) { background: #efefef; }
