* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

.messages {
  position: relative;
}

.messageInput {
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
}

.messageInput > input:nth-of-type(2) {
  flex-grow: 10;
  height: 40px;
  padding: 10px;
}

.messageInput > button {
  background-color: #0073b5;
  color: white;
  flex-grow: 1;
  font-weight: 700;
  height: 40px;
}