<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Webchat Project</title>
</head>
<body>
  <ul class="messages"></ul>
  <form class="form" action="">
    <input class="input" type="text" autocomplete="off" />
    <button type="submit">Enviar</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io('http://localhost:3000')
      const form = document.querySelector('.form');
      const iptchatMessage = document.querySelector('.input');

      form.addEventListener('click', (event) => {
        event.preventDefault();
        const nickName = 'luis'
        const chatMessage = iptchatMessage.value;
        
        if (nickName.length && chatMessage.length) {
          const messageObj = {
            timeStamp: new Date(Date.now()).toLocaleString('en-GB', { timeZone: 'UTC' }),
            nickName,
            chatMessage,
          };
          socket.emit('message', messageObj);
          iptchatMessage.value = '';
        }
      });
  </script>
</body>
</html>
